h1 {
    font-family: 'Montserrat', sans-serif; 
    text-align: center
}
#titletext {
    border: none;
}
#titletext {
    padding-right: 20px;
    padding-bottom: 20px;
}
#juicejesus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}
#title {
    margin-left: auto;
    border: 3px none;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
    margin-left: 1000px;
}
#body {
    background-color: aliceblue;
    border: 3px none aliceblue;
    border-radius: 5px;
	padding: 20px;
	margin-top: 45px;
	margin-right: 0px;
	margin-bottom: 15px;
    margin-left: 0px;
    float: left;
    width: 1250px;
}
#navbar {
    width: 150px;
    float: right;
    display: block;
    position: fixed;
    top: 300px;
    right: 0px;
}
#navbar {
    background-color: aliceblue;
    border: 3px none aliceblue;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
}
li {
    font-size: 15px;
    text-align: left;
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link, a:hover, a:visited {
    text-decoration: none;
}
a {
    font-size: 19px;
    padding-bottom: 9px;
    padding-right: 10px;
    color: red;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border: 3px none antiquewhite;
    font-family: 'Muli', sans-serif;
}
#about1 {
    padding-top: 30px;
}
body {
    background-image: url('smoothie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
}
h2::first-letter {
    font-family: "Montserrat", sans-serif;
}
p {
    font-family: 'Raleway';
    font-size: 20px;
}
#title {
    background: rgba(255, 255, 255, 0.5);
}
#footer {
  position: absolute;
  margin-top: 50px;
  padding-left: 10px;
  padding-top: 10px;
  border: 5px, solid, aliceblue;
  border-radius: 5px, 5px, 0px, 0px;
  width: 2000px;
}
.bigdab {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}
#container {
    min-height: 100%;
}